option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: news_aggregator.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: news_aggregator.settings
    PYTHONPATH: /var/app/current 